*.a
*.dat
*genmod*
*.mod
*.o
*.so
*.out*
*.th_o
.deps
.dirstamp

autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
configure~
configure.ac~

stamp-h1

examples/fmm
examples/kernel
examples/tree
examples/vec
examples/biotsavart
examples/biotsavart_kernel
examples/helmholtz
examples/helmholtz_kernel
examples/laplace
examples/laplace_kernel

examples/biotsavart_mpi
examples/ewald_mpi
examples/helmholtz_mpi
examples/laplace_mpi
wrappers/charmm_mpi
wrappers/gromacs_mpi
wrappers/md_distributed_mpi
wrappers/petiga_helmholtz_mpi
wrappers/petiga_laplace_mpi

accuracy.reg
time_
